<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">


<div layout:fragment="content">
	<div id="divLogo">
  	<img id="logo2" th:src="@{/images/af_logo2.png}" alt="">
  	<h1>Cadastro de Cliente</h1>

  <div id="divSucess" th:if="${msg != null}">
  <span th:text="${msg}"></span>
  </div><br/>

    <form method="post" th:object="${client}" th:action="${!editMode} ? @{/public/client/save} : @{/client/save}" >
      <fieldset>
      <input type="hidden" th:field="*{id}"/>
      
      <div id="errorMessage" th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}"></span>     
        </div>
      <div id="inputUser" th:classappend="${#fields.hasErrors('name')} ? 'inputError' : '' "> 
        <label for="name"><img id="userImg" th:src="@{/images/af_user.png}" alt="Nome"></label>
        <input type="text" id="name" name="name" placeholder="Usuário" th:field="*{name}" /><br/><br/>
      </div>
      
      
      
        <div id="errorMessage" th:if="${#fields.hasErrors('email')}">
            <span th:errors="*{email}"></span>     
        </div>
          <div  id="inputUser" th:classappend="${#fields.hasErrors('email')} ? 'inputError' : '' " >
            <label for="email"><img id="userImg" th:src="@{/images/af_email.png}" alt="E-mail"></label>
            <input type="text" id="email" name="email" placeholder="E-mail" th:field="*{email}"/><br/><br/>
          </div>
			
			  <div id="errorMessage" th:if="${#fields.hasErrors('phonenumber')}" >
            <span th:errors="*{phonenumber}"></span>     
        </div>
			      <div id="inputUser" th:classappend="${#fields.hasErrors('phonenumber')} ? 'inputError' : '' ">
            <label id="labelInput" for="phonenumber"><img id="userImg" th:src="@{/images/af_phone.png}" alt="Telefone"></label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="Telefone" th:field="*{phonenumber}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div>



 		 <div id="errorMessage" th:if="${#fields.hasErrors('cpf')}">
            <span th:errors="*{cpf}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cpf')} ? 'inputError' : '' ">
            <label for="cpf"><img id="userImg" th:src="@{/images/af_cpf.png}" alt="CPF"></label>
            <input type="text" id="cpf" name="cpf" placeholder="CPF" th:field="*{cpf}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div>


		<div id="errorMessage" th:if="${#fields.hasErrors('cep')}">
            <span th:errors="*{cep}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : '' ">
            <label for="cep"><img id="userImg" th:src="@{/images/af_cep.png}" alt="CEP"></label>
            <input type="text" id="cep" name="cep" placeholder="CEP" th:field="*{cep}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div> 


		<div id="errorMessage" th:if="${#fields.hasErrors('password')}">
            <span th:errors="*{password}"></span>     
        </div>
          <div id="inputUser" th:if="${!editMode}" th:classappend="${#fields.hasErrors('password')} ? 'inputError' : '' ">
            <label for="senha"><img id="userImg" th:src="@{/images/af_senha.png}" alt="Senha"></label>
            <input type="password" id="senha" name="senha" placeholder="Senha" th:field="*{password}"/><br/><br/>
          </div>
          <input type="hidden" name="password" value="*" th:if="${editMode}"/>
      </fieldset>
      		
                <input type="submit" th:value="${!editMode} ? 'Cadastrar' : 'Alterar'">
          		<input type="button" name="" value="Voltar" onclick="location.href='/';">
    </form>
      <br/>
		</div>
	</div>

</body>
</html>
