<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/client/home}">


<div layout:fragment="content">
<!-- Header -->

        <div class="">
          <h1>SEU PEDIDO</h1>
        </div>
        <br/>

        <div id="errorMessage">
         <span th:text="${order.status.description}"></span>
        </div> <br/>


        <div class="">
          <span>Pizza Calabresa</span>
          <span>Qtd: 1</span>
          <span>(exemplo de observação)</span>
          <span>R$ 45,00</span><br/><br/>
        </div>
        <br/><br/>

        <div class="">
          <span>Hamburguer</span>
          <span>Qtd: 1</span>
          <span>(exemplo de observação)</span>
          <span>R$ 35,00</span><br/><br/>
        </div>
        <br/><br/>

        <div class="">
          <span>Taxa de entrega</span>
          <span>R$ 15,00</span>
        </div>
          <br/><br/>

        <div class="">
          <span>Total</span>
          <span>R$ 50,00</span>
        </div>
        <br/><br/>

        <input id="buttomLarge" type="button" name="" value="Refazer pedido"><br>
        <input id="buttomLarge" type="button" name="" value="Enviar menssagem">


    </div>
<!-- Footer -->

</body>
</html>
