<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Alforno</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/af_style.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
  </head>
  <body>
    <header>
      <div id="title">
        <span id="auxiliar"></span>
        <a th:href="${link} == null ? @{/} : ${link}">
        <img id="letterWhite" th:src="@{/images/af_letterWhite.png}" alt="Alforno"/>
        </a>
      </div>
            <div id="divUser" th:if="${#authentication.principal != 'anonymousUser'}">
       <span th:text="'Olá, ' + ${#authentication.principal.user.name} + '!'"></span>

                <div th:if="${session.cart != null}">
                    <a th:href="@{/client/cart/view}"><img th:src="@{/images/af_cart.png}" id="cartImg"></a>
                </div>
        <br/>
      </div>
    </header>
    <br/><br/>
<!-- Header -->
   
  <!-- Content -->
<div layout:fragment="content"></div>
    <!-- Footer -->

  </body>
</html>
