<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Alforno</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/af_style.css}">
  </head>
  <body>
    <header>
      <div id="title">
        <span id="auxiliar"></span>
        <img id="letterWhite" th:src="@{/images/af_letterWhite.png}" alt="Alforno"/>
      </div>
    </header>
    <br/><br/>
<!-- Header -->
   
  <!-- Content -->
<div layout:fragment="content"></div>
    <!-- Footer -->

  </body>
</html>
