<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
 
  <body>
  <div layout:fragment="content">
    <div class="">
      <img id="logo2" th:src="@{images/af_logo2.png}" alt="">
      <h1>Login</h1>
      <form class="" action="" method="post">

        <fieldset>
          <div id="inputUser">
            <label for="nome"><img id="userImg" th:src="@{images/af_user2.png}" alt="User"></label>
            <input type="text" id="nome" name="nome" placeholder="Usuário"/><br/><br/>
          </div>

          <div id="inputUser">
            <label for="senha"><img id="userImg" th:src="@{images/af_senha.png}" alt="Senha"></label>
            <input type="text" id="senha" name="senha" placeholder="Senha"/><br/><br/>
          </div>

        <input type="button" name="button" value="Entrar" onclick="location.href='clientHome.html';">

        </fieldset>

      </form>
      <br>
      <div id="errorMessage">

        Erro!

      </div><br>
	<form method="get" th:action="@{/public/client/new}">
      <input id="buttomNew" type="submit" name="newuser" value="Novo Usuário">
      </form>
        <input id="buttomNew" type="button" name="newrest" value="Novo Restaurante" onclick="location.href='restaurantRegister.html';">
    </div>
    </div>
   </body>
  </html>