<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

      
  <body>
<div layout:fragment="content">
  <img id="logo2" th:src="@{/images/af_logo2.png}" alt="">
  <h1>Cadastro de Restaurante</h1>

  <div id="divSucess" th:if="${msg != null}">
  <span th:text="${msg}"></span>
  </div><br>

    <form method="post" th:object="${restaurant}" th:action="${!editMode} ? @{/public/restaurant/save} : @{/restaurant/save}" enctype="multipart/form-data">
      <fieldset>
      
      <input type="hidden" th:field="*{id}"/>
      
      
       <div id="errorMessage" th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}"></span>     
      </div>
      
      <div id="inputUser" th:classappend="${#fields.hasErrors('name')} ? 'inputError' : '' ">
        <label for="nome"><img id="userImg" th:src="@{/images/af_user.png}" alt="User"></label>
        <input type="text" id="nome" name="nome" placeholder="Nome do Restaurante" th:field="*{name}"/><br/><br/>
      </div>



        <div id="errorMessage" th:if="${#fields.hasErrors('email')}">
            <span th:errors="*{email}"></span>     
        </div>
          <div  id="inputUser" th:classappend="${#fields.hasErrors('email')} ? 'inputError' : '' " >
            <label for="email"><img id="userImg" th:src="@{/images/af_email.png}" alt="User"></label>
            <input type="text" id="email" name="email" placeholder="E-mail" th:field="*{email}"/><br/><br/>
          </div>



			  <div id="errorMessage" th:if="${#fields.hasErrors('phonenumber')}" >
            <span th:errors="*{phonenumber}"></span>     
        </div>
			      <div id="inputUser" th:classappend="${#fields.hasErrors('phonenumber')} ? 'inputError' : '' ">
            <label id="labelInput" for="phonenumber"><img id="userImg" th:src="@{/images/af_phone.png}" alt="Telefone"></label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="Telefone" th:field="*{phonenumber}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div>



          
          	 <div id="errorMessage" th:if="${#fields.hasErrors('cnpj')}">
            <span th:errors="*{cnpj}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cnpj')} ? 'inputError' : '' ">
            <label for="cnpj"><img id="userImg" th:src="@{/images/af_cpf.png}" alt="CNPJ"></label>
            <input type="text" id="cnpj" name="cnpj" placeholder="CNPJ" th:field="*{cnpj}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div>
          
		<div id="errorMessage" th:if="${#fields.hasErrors('cep')}">
            <span th:errors="*{cep}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : '' ">
            <label for="cep"><img id="userImg" th:src="@{/images/af_cep.png}" alt="CEP"></label>
            <input type="text" id="cep" name="cep" placeholder="CEP" th:field="*{cep}" onkeydown="return isNumberKey(event);"/><br/><br/>
          </div> 
          
          
          
          	<div id="errorMessage" th:if="${#fields.hasErrors('deliveryTax')}">
            <span th:errors="*{deliveryTax}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : '' ">
            <label for="deliveryTax"><img id="userImg" th:src="@{/images/af_cep.png}" alt="Delivery Tax"></label>
            <input type="text" id="deliveryTax" name="deliveryTax" placeholder="Taxa de Entrega" th:field="*{deliveryTax}"/><br/><br/>
          </div> 
          
          	<div id="errorMessage" th:if="${#fields.hasErrors('deliveryTime')}">
            <span th:errors="*{cep}"></span>     
        </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : '' ">
            <label for="deliveryTime"><img id="userImg" th:src="@{/images/af_cep.png}" alt="Delivery Time"></label>
            <input type="text" id="deliveryTime" name="deliveryTime" placeholder="Tempo de Entrega" th:field="*{deliveryTime}"/><br/><br/>
          </div> 




   		<label for="categoria">Categoria: </label>
          <select name="category" id="categoria" th:field="*{categories}" multiple>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select><br/><br/><br/>
          
          
          
          
      	<div id="errorMessage3" th:if="${#fields.hasErrors('logoFile')}">
            <span th:errors="*{logoFile}"></span>     
        </div>
            
         <input type="file" id="logo" name="logo" th:field="*{logoFile}" th:classappend="${#fields.hasErrors('logoFile')} ? 'inputError' : '' " >
           <label id="upload" for="logo">
     		 <span id="spanUpload" class="material-icons">add_a_photo</span> Selecione o Logotipo
           </label>
			<br/><br/><br/>



  <div id="errorMessage" th:if="${#fields.hasErrors('password')}">
            <span th:errors="*{password}"></span>     
      </div>
          <div id="inputUser" th:classappend="${#fields.hasErrors('password')} ? 'inputError' : '' ">
            <label for="senha"><img id="userImg" th:src="@{/images/af_senha.png}" alt="Senha"></label>
            <input type="password" id="senha" name="senha" placeholder="Senha" th:field="*{password}"/><br/><br/>
          </div>
		</fieldset>


          <input type="submit" th:value="${!editMode} ? 'Cadastrar' : 'Alterar'">
          <input type="button" name="" value="Voltar" th:onclick="'location.href=\''+ @{/rastaurant/home} + '\';'"/>
</form>
		</div>
	</body>
</html>
